@import "variables";

@mixin base-typography() {
    text-transform: none;
    line-height: $tw-line-height;
    letter-spacing: 0;
    font-size: $tw-font-size;
    font-weight: 400;
    font-family: $tw-font-family;
}
