.cookie-trail-legend {
    .title {
        font-size: 28px;
        font-weight: 600;
        font-style: italic;
    }

    .box {
        stroke: #000000;
        fill: transparent;
        stroke-width: 2px;
    }
}